FLASK_APP=main.py
FLASK_ENV=development
PORT=5000
FIRST_LAYER_MODEL_PATH="src/model/first_layer_model/first_layer_model.keras"
SECOND_LAYER_MODEL_PATH_A0000=src/model/second_layer_model/second_layer_class_A.keras
SECOND_LAYER_MODEL_PATH_B0000=src/model/second_layer_model/second_layer_class_B.keras
SECOND_LAYER_MODEL_PATH_D0000=src/model/second_layer_model/second_layer_class_D.keras
SECOND_LAYER_MODEL_PATH_F0000=src/model/second_layer_model/second_layer_class_F.keras
SECOND_LAYER_MODEL_PATH_I0000=src/model/second_layer_model/second_layer_class_I.keras
LEAF_DETECT_MODEL_PATH="src/model/leaf_detection_model/leaf_detection_model1.pt"
DEBUG=True